@charset "UTF-8";
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum/Cuprum-Bold.woff2") format("woff2"), url("../fonts/Cuprum/Cuprum-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/Cuprum/Cuprum-Regular.woff2") format("woff2"), url("../fonts/Cuprum/Cuprum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CodePro';
  src: url("../fonts/CodePro/Code-Pro.woff2") format("woff2"), url("../fonts/CodePro/Code-Pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?j8v22h");
  src: url("../fonts/icomoon/icomoon.eot?j8v22h#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?j8v22h") format("truetype"), url("../fonts/icomoon/icomoon.woff?j8v22h") format("woff"), url("../fonts/icomoon/icomoon.svg?j8v22h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-calendar:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e905";
}

.icon-marker:before {
  content: "\e906";
}

.icon-phone:before {
  content: "\e907";
}

.icon-ruble:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e909";
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

h1 {
  margin-bottom: 50px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 46px;
  color: #30549A;
}

h2, .h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 46px;
  color: #30549A;
}

h3, .h3 {
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 36px;
}

h4, .h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

h5, .h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

h6, .h6 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.right-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

*::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-moz-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*::-moz-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header .container {
  width: auto;
  max-width: 1476px;
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrap__center {
  padding: 0 15px;
}

.header-wrap__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 33px 0 33px 0;
  margin-right: 70px;
  background: #30549A;
}

.header-logo img {
  position: relative;
  z-index: 10;
}

.header-logo::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #30549A;
  width: 1000px;
}

.header-logo::after {
  content: '';
  position: absolute;
  right: -56px;
  width: 70px;
  top: -40px;
  bottom: -20px;
  background: #30549A;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

.header-logo:hover, .header-logo:focus {
  opacity: 1;
}

.header-logo span {
  position: relative;
  padding-left: 3px;
  font-family: CodePro;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 10;
}

.header-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 17px;
  border-bottom: 1px solid #E5E5E5;
  font-size: 14px;
  line-height: 16px;
  font-family: GothamPro;
}

.header-contact > div {
  margin-right: 30px;
}

.header-contact > div:last-child {
  margin-right: 0;
}

.header-contact__address {
  position: relative;
  padding: 0 0 0 20px;
}

.header-contact__address::before {
  content: '\e906';
  position: absolute;
  left: 0;
  top: 0;
  font-family: icomoon;
  font-size: 16px;
  color: #30549A;
}

.header-contact__mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 26px;
}

.header-contact__mail::before {
  content: '\e905';
  position: absolute;
  left: 0;
  top: 1px;
  font-family: icomoon;
  font-size: 16px;
  color: #30549A;
}

.header-contact__mail a {
  margin-right: 20px;
}

.header-contact__mail a:last-child {
  margin-right: 0;
}

.header-tel {
  position: relative;
  padding: 25px 0 25px 52px;
}

.header-tel::before {
  content: '\e907';
  position: absolute;
  left: 0;
  top: 25px;
  font-family: icomoon;
  font-size: 32px;
  line-height: 32px;
  color: #DDDDDD;
}

.header-tel > a {
  display: block;
  margin-bottom: 18px;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 24px;
}

.header-tel > a:last-child {
  margin-bottom: 0;
}

.header-search {
  position: relative;
  width: 105px;
  margin-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-search::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: -20px;
  width: 100px;
  height: 200px;
  bottom: -20px;
  background: #30549A;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

.header-search__btn {
  position: relative;
  left: 3px;
  background: transparent;
  font-size: 30px;
  color: #fff;
  border: none;
  outline: none;
  z-index: 10;
}

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 670px;
  font-size: 14px;
  line-height: 18px;
}

.main-menu > li {
  display: inline-block;
}

.main-menu > li.active {
  background: #30549A;
}

.main-menu > li > a {
  display: inline-block;
  padding: 16px 0;
  font-weight: bold;
  font-size: 16px;
  color: #292a29;
  text-transform: uppercase;
}

.main-menu > li.dropdown {
  position: relative;
}

.main-menu > li.dropdown::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 21px;
  top: 100%;
  background-color: transparent;
}

.main-menu > li.dropdown > a {
  position: relative;
  padding-right: 11px;
}

.main-menu > li.dropdown > a::before {
  content: '';
  position: absolute;
  right: -4px;
  top: 49%;
  width: 8px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-menu > li.dropdown > a::after {
  content: '';
  position: absolute;
  right: 0;
  top: 49%;
  width: 8px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-menu > li.dropdown .dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  top: -webkit-calc(100% + 21px);
  top: calc(100% + 21px);
  min-width: 270px;
  padding: 20px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  z-index: 10;
}

.main-menu > li.dropdown .dropdown-menu > li {
  position: relative;
}

.main-menu > li.dropdown .dropdown-menu > li.dropdown-sub > a {
  position: relative;
  padding-right: 28px;
}

.main-menu > li.dropdown .dropdown-menu > li.dropdown-sub > a::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 17px;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-left: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main-menu > li.dropdown .dropdown-menu > li:last-child {
  margin-bottom: 0;
}

.main-menu > li.dropdown .dropdown-menu > li > a {
  display: block;
  padding: 11px 20px;
  font-size: 14px;
  line-height: 20px;
}

.main-menu > li.dropdown .dropdown-menu > li > a:hover {
  font-weight: bold;
  opacity: 1;
  color: #30549A;
  background: #FAFAFA;
}

.main-menu > li.dropdown .dropdown-menu > li > a:hover::before {
  border-color: #30549A;
}

.main-menu > li.dropdown .dropdown-submenu {
  display: none;
  list-style: none;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 200px;
  padding: 20px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  z-index: 10;
}

.main-menu > li.dropdown .dropdown-submenu li {
  margin-bottom: 20px;
}

.main-menu > li.dropdown .dropdown-submenu li:last-child {
  margin-bottom: 0;
}

.main-menu > li.dropdown .dropdown-submenu li a {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
}

.mm-spn li.mobile-menu__contacts {
  position: relative;
  padding: -webkit-calc((var(--mm-spn-item-height) - var(--mm-spn-line-height))/ 2) var(--mm-spn-item-indent);
  padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height))/ 2) var(--mm-spn-item-indent);
  padding-left: 45px;
  font-family: GothamPro;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 0;
  margin-top: 10px;
}

.mm-spn li.mobile-menu__contacts::before {
  display: none;
}

.mm-spn li.mobile-menu__contacts::after {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  color: #30549a;
  font-family: icomoon;
  border: 0;
  opacity: 1;
  top: 14px;
}

.mm-spn li.mobile-menu__contacts span, .mm-spn li.mobile-menu__contacts a {
  padding: 0;
  font-family: GothamPro;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 0;
}

.mm-spn li.mobile-menu__contacts--address::after {
  content: '\e906';
}

.mm-spn li.mobile-menu__contacts--mail::after {
  content: '\e905';
}

.mm-spn li.mobile-menu__contacts--tel::after {
  content: '\e907';
}

.banner {
  max-width: 1920px;
  margin: 0 auto 100px;
}

.banner-item__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.banner-item__overlay .container {
  height: 100%;
}

.banner-item__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.banner-item__text {
  max-width: 470px;
  width: 100%;
  padding: 30px 30px 50px;
  background: -webkit-linear-gradient(79.55deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  background: -o-linear-gradient(79.55deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  background: linear-gradient(10.45deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
}

.banner-item__text p {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 22px;
}

.banner-item__header {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-family: Cuprum;
  font-weight: bold;
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
}

.banner-item__header::before {
  content: '';
  width: 120px;
  height: 2px;
  border: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.banner-slider__nav {
  position: relative;
  bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner-slider__nav button {
  width: 40px;
  height: 38px;
  margin: 0 10px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 18px;
  color: #fff;
  outline: none;
  background-color: transparent;
}

.banner-slider__nav button:hover, .banner-slider__nav button:focus {
  background: #fff;
  opacity: 1;
  color: #30549A;
}

.slick-slide {
  outline: none;
}

.content {
  position: relative;
  min-height: -webkit-calc(100vh - 330px);
  min-height: calc(100vh - 330px);
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: inset 0 2px 16px -2px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 2px 16px -2px rgba(0, 0, 0, 0.12);
}

.product {
  margin-bottom: 100px;
}

.product-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product-item {
  width: 25%;
  height: 444px;
  border: 1px solid #F5F5F5;
}

.product-item__img {
  height: 248px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 0px 32px rgba(0, 0, 0, 0.04);
          box-shadow: inset 0px 0px 32px rgba(0, 0, 0, 0.04);
}

.product-item__info {
  padding: 0 20px 22px;
}

.product-item__info p {
  height: 66px;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}

.product-item__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.product-item__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item__bottom .btn {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 15px;
  text-transform: lowercase;
}

.product-item__bottom .btn:hover, .product-item__bottom .btn:focus {
  background: #30549A;
}

.product-item__price {
  padding-left: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #30549A;
}

.product-item__price .icon-ruble {
  color: #666666;
  font-size: 12px;
}

.product-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.product-header .h2 {
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
}

.product-header__all {
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 2px solid #30549A;
}

.product-filters {
  position: relative;
  padding: 0 70px;
  margin-bottom: 40px;
}

.product-filters::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background: #E0E0E0;
}

.product-filters__item {
  position: relative;
  padding-bottom: 20px;
  margin-left: 48px;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
  white-space: nowrap;
}

.product-filters__item.active {
  font-weight: 600;
  color: #000;
}

.product-filters__item.active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #30549A;
}

.product-filters .slick-arrow {
  width: 18px;
  height: 18px;
  top: 10px;
}

.product-filters .slick-arrow::before {
  font-size: 16px;
  color: #30549A;
  font-family: icomoon;
  opacity: 1;
}

.product-filters .slick-prev {
  left: 0;
}

.product-filters .slick-prev::before {
  content: '\e901';
}

.product-filters .slick-next {
  right: 0;
}

.product-filters .slick-next::before {
  content: '\e902';
}

.product-page__img {
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-page__info p {
  margin-bottom: 20px;
  line-height: 32px;
}

.product-page__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-page__price {
  margin-left: 20px;
}

.product-page__price strong {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #30549A;
}

.product-page__price .icon-ruble {
  color: #666;
}

.tabs {
  margin: 80px 0;
}

.tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.tabs-nav li {
  margin-right: 25px;
}

.tabs-nav li:last-child {
  margin-right: 0;
}

.tabs-nav li a {
  display: block;
  padding: 20px 50px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #555;
  border: 1px solid #CCCCCC;
  font-weight: 600;
  -webkit-border-radius: 2px 2px 0px 0px;
          border-radius: 2px 2px 0px 0px;
  border-bottom: 0;
}

.tabs-nav li a.active {
  color: #fff;
  background: #30549A;
  border-color: #30549A;
}

.tabs-nav li a:focus, .tabs-nav li a:hover {
  opacity: 1;
}

.tabs-item {
  display: none;
}

.tabs-item__body {
  padding: 40px;
  background: #FAFAFA;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.tabs-item__body p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.tabs-item__body p:last-of-type {
  margin-bottom: 0;
}

.tabs-item.active {
  display: block;
}

.marker-list {
  list-style: none;
}

.marker-list li {
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 22px;
}

.marker-list li:last-child {
  margin-bottom: 0;
}

.marker-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  background: #0E599D;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.btn {
  display: inline-block;
  padding: 20px 45px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#30549A), to(#103378));
  background: -webkit-linear-gradient(top, #30549A 0%, #103378 100%);
  background: -o-linear-gradient(top, #30549A 0%, #103378 100%);
  background: linear-gradient(180deg, #30549A 0%, #103378 100%);
  outline: none;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
}

.btn:hover, .btn:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#244A93), to(#0D2B66));
  background: -webkit-linear-gradient(top, #244A93 0%, #0D2B66 100%);
  background: -o-linear-gradient(top, #244A93 0%, #0D2B66 100%);
  background: linear-gradient(180deg, #244A93 0%, #0D2B66 100%);
  opacity: 1;
  color: #fff;
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#4571C7), to(#1948A4));
  background: -webkit-linear-gradient(top, #4571C7 0%, #1948A4 100%);
  background: -o-linear-gradient(top, #4571C7 0%, #1948A4 100%);
  background: linear-gradient(180deg, #4571C7 0%, #1948A4 100%);
}

.btn-transparent {
  color: #595959;
  border-color: #595959;
  background: transparent;
}

.btn-transparent:hover, .btn-transparent:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#244A93), to(#0D2B66));
  background: -webkit-linear-gradient(top, #244A93 0%, #0D2B66 100%);
  background: -o-linear-gradient(top, #244A93 0%, #0D2B66 100%);
  background: linear-gradient(180deg, #244A93 0%, #0D2B66 100%);
  opacity: 1;
  color: #fff;
}

.questions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 560px;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.questions-bg {
  width: 36%;
  -webkit-border-radius: 0 20px 20px 0;
          border-radius: 0 20px 20px 0;
  background: url(../img/questions-bg.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.questions-form {
  width: 64%;
  padding: 50px 100px 60px 74px;
}

.questions-form .h5 {
  margin-bottom: 25px;
}

.questions-form__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.questions-form__bottom .check-item {
  margin-left: 30px;
}

.questions-form__bottom .check-item a {
  text-decoration: underline;
}

.form-field {
  position: relative;
  width: 100%;
  padding: 0 20px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #B3B3B3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
  outline: none;
}

.form-label {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 14px;
  color: #868686;
  cursor: text;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  background-color: transparent;
}

.form-item {
  position: relative;
  margin-bottom: 25px;
}

.form-item.active .form-field {
  border-color: #30549A;
}

.form-item.active .form-label {
  top: -15px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 14px;
  -webkit-transform: translate(0, 8px);
      -ms-transform: translate(0, 8px);
          transform: translate(0, 8px);
  color: #30549A;
  z-index: 10;
  background: #fff;
}

.form-item textarea {
  height: 94px;
  resize: none;
}

.form *::-webkit-input-placeholder {
  color: #868686;
}

.form *:-moz-placeholder {
  color: #868686;
}

.form *::-moz-placeholder {
  color: #868686;
}

.form *:-ms-input-placeholder {
  color: #868686;
}

.form-search {
  background-color: transparent;
}

.form-search__header {
  margin-bottom: 22px;
  text-align: center;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
}

.form-search__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.form-search input {
  width: -webkit-calc(100% - 210px);
  width: calc(100% - 210px);
  height: 78px;
  line-height: 78px;
  padding: 0 30px;
  background: #fff;
  border: none;
  outline: none;
}

.form-search .btn {
  width: 210px;
  height: 78px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fancybox-bg {
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.fancybox-button svg path {
  fill: #fff;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 5px;
}

.modal {
  display: none;
}

.modal-search {
  width: 100%;
  max-width: 1170px;
  padding: 0;
  background-color: transparent;
}

.modal-questions {
  padding: 0;
}

.modal-questions .fancybox-button svg path {
  fill: #000;
}

.check-item {
  list-style: none;
}

.check-item input[type="checkbox"] {
  display: none;
}

.check-item input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 0 0 0 28px;
  cursor: pointer;
  font-size: 11px;
  line-height: 16px;
}

.check-item input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #30549A;
}

.check-item input[type="checkbox"]:checked + label::before {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  padding: 100px 0 0;
}

.section-header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header .h2 {
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
}

.section-header__all {
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 2px solid #30549A;
}

.section-bg {
  background: url(../img/section-bg-left.png) left 30px no-repeat, url(../img/section-bg-right.png) right 30px no-repeat;
}

.news-item__date {
  position: relative;
  padding: 0 0 0 36px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

.news-item__date::before {
  content: '\e903';
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 16px;
  color: #30549A;
  font-family: icomoon;
}

.news-item p {
  font-weight: 600;
  line-height: 22px;
}

.about-item {
  position: relative;
  min-height: 375px;
  padding: 35px 30px;
  margin-bottom: 20px;
  -webkit-border-radius: 2px 2px 0px 0px;
          border-radius: 2px 2px 0px 0px;
  color: #fff;
  background: -webkit-linear-gradient(63.99deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  background: -o-linear-gradient(63.99deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  background: linear-gradient(26.01deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
}

.about-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95px;
  height: 103px;
  background: url(../img/about-bg.png);
}

.about-item__header {
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 20px;
  font-family: Cuprum;
  font-weight: bold;
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
}

.about-item__header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 120px;
  background: #fff;
}

.about-item p {
  font-family: Cuprum;
  font-size: 24px;
  line-height: 32px;
}

.green-gradient {
  background: -webkit-linear-gradient(63.99deg, rgba(37, 130, 102, 0.9) 0%, rgba(39, 156, 149, 0.9) 100%);
  background: -o-linear-gradient(63.99deg, rgba(37, 130, 102, 0.9) 0%, rgba(39, 156, 149, 0.9) 100%);
  background: linear-gradient(26.01deg, rgba(37, 130, 102, 0.9) 0%, rgba(39, 156, 149, 0.9) 100%);
}

.blue-gradient {
  background: -webkit-linear-gradient(65.33deg, rgba(37, 40, 130, 0.9) 0%, rgba(39, 86, 156, 0.9) 100%);
  background: -o-linear-gradient(65.33deg, rgba(37, 40, 130, 0.9) 0%, rgba(39, 86, 156, 0.9) 100%);
  background: linear-gradient(24.67deg, rgba(37, 40, 130, 0.9) 0%, rgba(39, 86, 156, 0.9) 100%);
}

.partners-slider__item {
  padding-bottom: 20px;
}

.partners-slider__item a:hover {
  -webkit-box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.12);
}

.footer {
  background: url(../img/footer-bg.png) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  margin-top: 100px;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 54px 0 25px;
  border-bottom: 1px solid #EBEBEB;
}

.footer-top__info {
  font-size: 14px;
  line-height: 22px;
}

.footer-contact {
  position: relative;
  padding: 0 0 0 24px;
  font-family: GothamPro;
  font-size: 14px;
  line-height: 20px;
}

.footer-contact span, .footer-contact a {
  display: block;
}

.footer-contact::before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  color: #30549A;
  font-family: icomoon;
}

.footer-contact__address::before {
  content: '\e906';
}

.footer-contact__mail::before {
  content: '\e905';
}

.footer-contact__tel {
  font-family: OpenSans;
}

.footer-contact__tel::before {
  content: '\e907';
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  font-size: 14px;
  line-height: 22px;
}

.footer-bottom__dev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__dev span {
  padding-right: 10px;
}

.breadcrumbs {
  margin: 30px 0 10px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: -0.03em;
  font-size: 14px;
  line-height: 16px;
  color: #444;
}

.breadcrumbs li + li::before {
  content: ">";
  padding: 0 10px 0 8px;
  font-size: 14px;
}

.breadcrumbs li a {
  position: relative;
  font-weight: 300;
  color: #444;
}

.catalog-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog-content {
  width: -webkit-calc(100% - 270px);
  width: calc(100% - 270px);
  padding-left: 20px;
}

.catalog-content .product-item {
  width: 33.3333%;
}

.catalog-sidebar {
  width: 270px;
  height: 100%;
  padding: 20px 0;
  border: 1px solid #F5F5F5;
}

.catalog-mobile__btn {
  display: none;
}

.catalog-menu {
  list-style: none;
}

.catalog-menu > li {
  margin-bottom: 15px;
}

.catalog-menu > li:last-child {
  margin-bottom: 0;
}

.catalog-menu > li > a {
  display: block;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 20px;
}

.catalog-menu > li.drop > a {
  position: relative;
  display: block;
  padding-right: 28px;
}

.catalog-menu > li.drop > a::before {
  content: '';
  position: absolute;
  right: 16px;
  top: 16px;
  width: 8px;
  height: 2px;
  background: #555555;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.catalog-menu > li.drop > a::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 16px;
  width: 8px;
  height: 2px;
  background: #555555;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.catalog-menu > li.drop > a.active {
  font-weight: bold;
  background: #FAFAFA;
  color: #30549A;
}

.catalog-menu > li.drop > a.active::before, .catalog-menu > li.drop > a.active::after {
  background: #30549A;
}

.catalog-menu > li.drop > ul {
  display: none;
  list-style: none;
}

.catalog-menu > li.drop > ul > li > a {
  padding: 8px 20px 8px 35px;
  font-size: 14px;
  line-height: 20px;
}

.catalog-menu > li.drop > ul > li ul {
  list-style: none;
}

.catalog-menu > li.drop > ul > li.drop > a {
  position: relative;
  display: block;
}

.catalog-menu > li.drop > ul > li.drop > a::before {
  content: '';
  position: absolute;
  right: 16px;
  top: 16px;
  width: 8px;
  height: 2px;
  background: #555555;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.catalog-menu > li.drop > ul > li.drop > a::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 16px;
  width: 8px;
  height: 2px;
  background: #555555;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.catalog-menu > li.drop > ul > li.drop > a.active {
  font-weight: bold;
  background: #FAFAFA;
  color: #30549A;
}

.catalog-menu > li.drop > ul > li.drop > a.active::before, .catalog-menu > li.drop > ul > li.drop > a.active::after {
  background: #30549A;
}

.catalog-menu > li.drop > ul > li.drop > ul {
  display: none;
  list-style: none;
}

.catalog-menu > li.drop > ul > li.drop > ul > li > a {
  padding: 8px 20px 8px 55px;
  font-size: 14px;
  line-height: 20px;
}

.pagination {
  margin: 30px 0 80px;
  list-style: none;
  text-align: center;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  display: block;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 18px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.pagination li a.active {
  background: -webkit-linear-gradient(64.3deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  background: -o-linear-gradient(64.3deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  background: linear-gradient(25.7deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%);
  color: #fff;
}

.pagination li a.active:hover, .pagination li a.active:focus {
  color: #fff;
  cursor: default;
}

.pagination li a:hover, .pagination li a:focus {
  opacity: 1;
  color: #30549A;
}

.seo-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #FAFAFA;
}

.seo-text__bg {
  width: 36%;
  -webkit-border-radius: 0 20px 20px 0;
          border-radius: 0 20px 20px 0;
  background: url(../img/seo-text-bg.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}

.seo-text__body {
  width: 64%;
  padding: 45px 30px 30px 100px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #FAFAFA;
}

.seo-text__body .h4 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.seo-text__body .h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  background: #30549A;
}

.seo-text__body p {
  margin-bottom: 20px;
  line-height: 28px;
}

article {
  margin-bottom: 50px;
  max-width: 770px;
}

article p {
  margin-bottom: 30px;
  line-height: 32px;
}

.certificate {
  padding: 100px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificate-img {
  max-width: 300px;
}

.certificate-info {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  padding-left: 40px;
}

.certificate-info .h2 {
  margin-bottom: 38px;
}

.certificate-info p {
  max-width: 540px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 26px;
}

.certificate-info p:last-of-type {
  margin-bottom: 0;
}

.blog-wrap {
  max-width: 668px;
}

.blog-item {
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #F5F5F5;
}

.blog-item__date {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.blog-item__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.blog-item__header:hover {
  text-decoration: underline;
}

.faq {
  max-width: 770px;
  margin-bottom: 60px;
}

.faq-item {
  margin-bottom: 40px;
}

.faq-item.active {
  background: #FAFAFA;
}

.faq-item.active .faq-header {
  background: #FAFAFA;
}

.faq-item.active .faq-header:before {
  background-color: #30549A;
  background-image: url(../img/minus-ic.svg);
}

.faq-header {
  position: relative;
  padding: 20px 70px 20px 20px;
  border: 1px solid #DDDDDD;
  background: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: 26px;
}

.faq-header::before {
  content: '';
  position: absolute;
  right: 15px;
  top: 15px;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  background-image: url(../img/plus-ic.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.faq-body {
  display: none;
  padding: 20px 70px 20px 20px;
  border: 1px solid #ddd;
  border-top: 0;
}

.faq-body p {
  font-size: 14px;
  line-height: 26px;
}

.faq-body p + p {
  margin-top: 20px;
}

.contacts-item {
  position: relative;
  margin-bottom: 60px;
  padding: 0 0 0 56px;
  font-size: 20px;
  line-height: 28px;
}

.contacts-item::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #30549A;
  color: #fff;
  font-size: 16px;
  font-family: icomoon;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.contacts-item__address::before {
  content: '\e906';
}

.contacts-item__mail a {
  display: block;
  margin-bottom: 10px;
}

.contacts-item__mail::before {
  content: '\e905';
}

.contacts-item__tel a {
  display: block;
  margin-bottom: 10px;
}

.contacts-item__tel::before {
  content: '\e907';
}

.contacts-map {
  height: 670px;
  margin-bottom: 50px;
}

.contacts-map iframe {
  height: 100%;
  width: 100%;
}

.contacts-requisites {
  margin-bottom: 100px;
}

.contacts-requisites .h2 {
  margin-bottom: 20px;
}

.contacts-requisites span {
  font-size: 14px;
  line-height: 26px;
}

.burger-menu {
  display: none;
  background: transparent;
  width: 30px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.burger-menu:focus {
  outline: none;
}

.burger-menu span {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  background: #fff;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-menu > span:last-child {
  margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
  background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 1439px) {
  .header-logo span {
    font-size: 20px;
  }
  .header-tel {
    padding: 25px 0 25px 35px;
  }
  .header-tel::before {
    top: 21px;
    font-size: 26px;
  }
  .header-tel > a {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 18px;
  }
  .header-search::before {
    width: 90px;
    top: -30px;
  }
  .header-search__btn {
    font-size: 26px;
  }
  .header-search__btn .icon-search {
    position: relative;
    right: 5px;
  }
}

@media only screen and (max-width: 1365px) {
  .main-menu {
    width: 560px;
  }
  .section-bg {
    background: #fff;
  }
  .header-logo img {
    max-width: 220px;
  }
}

@media only screen and (max-width: 1199px) {
  .header-tel {
    display: none;
  }
  .header-search::before {
    top: -70px;
  }
  .header-logo img {
    max-width: 180px;
  }
  .main-menu {
    width: 530px;
  }
  .main-menu > li > a {
    font-size: 14px;
  }
  .banner {
    margin: 0 auto 50px;
  }
  .product-item__bottom .btn {
    padding: 8px 15px;
    font-size: 12px;
  }
  .footer-logo {
    max-width: 200px;
  }
  .catalog-content {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
  }
  .catalog-content .product-item {
    width: 50%;
  }
  .catalog-sidebar {
    width: 220px;
  }
  .catalog-menu > li {
    margin-bottom: 0;
  }
  .seo-text__bg {
    display: none;
  }
  .seo-text__body {
    padding: 30px;
    width: auto;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    background: #30549A;
  }
  .header-logo {
    padding: 10px 0;
    font-size: 18px;
    margin: 0;
  }
  .header-logo::after {
    display: none;
  }
  .header-search {
    width: auto;
  }
  .header-search::before {
    display: none;
  }
  .header-wrap__center {
    display: none;
  }
  .burger-menu {
    position: relative;
    display: block;
    z-index: 10;
  }
  .burger-menu:hover, .burger-menu:focus {
    opacity: 1;
  }
  .banner-item__text {
    max-width: 300px;
    padding: 20px 20px 30px;
  }
  .banner-item__text p {
    font-size: 14px;
    line-height: 18px;
  }
  .banner-item__header {
    font-size: 28px;
    line-height: 32px;
  }
  .h2, h2 {
    font-size: 36px;
    line-height: 36px;
  }
  .product-item {
    width: 50%;
  }
  .product-item__bottom .btn {
    font-size: 14px;
  }
  .questions-bg {
    display: none;
  }
  .questions-form {
    width: auto;
    padding: 50px 60px 50px 60px;
  }
  .product {
    margin-bottom: 50px;
  }
  .about-item__header {
    font-size: 38px;
    line-height: 42px;
  }
  .about-item p {
    font-size: 16px;
    line-height: 24px;
  }
  .section {
    padding: 25px 0;
  }
  .footer {
    margin-top: 50px;
  }
  .footer-top {
    display: block;
    text-align: center;
    padding: 30px 0 10px;
  }
  .footer-top__info {
    margin: 0 0 10px;
  }
  .footer-contact {
    max-width: 150px;
    margin: 0 auto 15px;
    text-align: left;
  }
  .footer-bottom {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
  }
  .footer-bottom__dev {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-page__img {
    margin-bottom: 30px;
  }
  .certificate {
    padding: 50px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    margin: 0 0 30px;
  }
  .banner-item__overlay {
    position: static;
    background: #30549A;
  }
  .banner-item__text {
    background: transparent;
  }
  .product-header, .section-header {
    display: block;
  }
  .product-header .h2, .section-header .h2 {
    width: auto;
    margin-bottom: 10px;
  }
  .product-header__all, .section-header__all {
    display: block;
    width: 140px;
    margin: 0 auto;
    border: none;
  }
  .product-item__price {
    padding-left: 14px;
  }
  .product-item__bottom .btn {
    font-size: 12px;
  }
  .product-filters {
    margin-top: 10px;
  }
  h2, .h2 {
    text-align: center;
  }
  .questions {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .questions-form {
    padding: 0;
  }
  .questions-form .h5 {
    text-align: center;
  }
  .questions-form__bottom {
    display: block;
  }
  .questions-form__bottom .btn {
    display: block;
    max-width: 280px;
    margin: 0 auto 10px;
  }
  .questions-form__bottom .check-item {
    margin: 0;
  }
  .questions-form__bottom .check-item input[type=checkbox] + label br {
    display: none;
  }
  .section-header {
    margin-bottom: 30px;
  }
  .news-item {
    margin-bottom: 30px;
  }
  .about {
    padding-top: 0;
  }
  .footer {
    margin-top: 30px;
    background: #FCFCFC;
  }
  .product-filters {
    padding: 0 30px;
  }
  .product-filters__item {
    margin-left: 25px;
  }
  .about-item {
    min-height: auto;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
  .contacts-item {
    margin-bottom: 30px;
  }
  .breadcrumbs {
    margin: 10px 0 10px;
  }
  .contacts-map {
    height: 350px;
  }
  .contacts-requisites {
    margin-bottom: 30px;
  }
  .catalog-mobile__btn {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
  }
  .catalog-mobile__btn:hover, .catalog-mobile__btn:focus {
    opacity: 1;
  }
  .catalog-mobile__btn span {
    position: relative;
    display: inline-block;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
    padding: 10px 10px 20px;
    background: #fff;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #eaeaea;
    border-left: 0;
    z-index: 100;
  }
  .catalog-mobile__btn span::before {
    content: '→';
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 14px;
  }
  .catalog-mobile__btn.active {
    position: absolute;
    right: -33px;
    top: -1px;
  }
  .catalog-mobile__btn.active span::before {
    content: '←';
  }
  .catalog-menu {
    display: none;
  }
  .catalog-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    width: 240px;
    border: none;
    background: transparent;
  }
  .catalog-sidebar.active {
    left: 0;
    top: 70px;
    z-index: 999;
    background: #fcfcfc;
  }
  .catalog-sidebar.active .catalog-menu {
    display: block;
  }
  .catalog-content {
    width: auto;
    padding-left: 0;
  }
  .modal-questions {
    max-width: 90%;
    padding: 30px 20px 20px;
  }
  .certificate {
    display: block;
    padding: 40px 0 0;
  }
  .certificate-img {
    margin: 0 auto 30px;
  }
  .certificate-info {
    width: auto;
    padding: 0;
  }
  .certificate-info .h2 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 479px) {
  .header-search {
    margin-left: 0;
  }
  .banner-item__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-item, .catalog-content .product-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-search__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-search__header {
    font-size: 24px;
  }
  .form-search input {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
  }
  .form-search input:focus {
    opacity: 1;
  }
  .form-search .btn {
    width: auto;
    height: 50px;
    padding: 10px 30px;
  }
  .product-page__img {
    height: auto;
  }
  .tabs-nav li {
    margin-right: 0;
  }
  .tabs-nav li a {
    padding: 13px 25px 13px;
    font-size: 14px;
    border: 0;
  }
  .product-page__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .product-page__price {
    margin: 0 0 20px;
  }
  .faq-body {
    padding: 20px;
  }
}
