@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Semibold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'GothamPro'
  src: url('../fonts/GothamPro/GothamPro.woff2') format("woff2"), url('../fonts/GothamPro/GothamPro.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cuprum'
  src: url('../fonts/Cuprum/Cuprum-Bold.woff2') format("woff2"), url('../fonts/Cuprum/Cuprum-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Cuprum'
  src: url('../fonts/Cuprum/Cuprum-Regular.woff2') format("woff2"), url('../fonts/Cuprum/Cuprum-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CodePro'
  src: url('../fonts/CodePro/Code-Pro.woff2') format("woff2"), url('../fonts/CodePro/Code-Pro.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?j8v22h')
  src: url('../fonts/icomoon/icomoon.eot?j8v22h#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?j8v22h') format("truetype"), url('../fonts/icomoon/icomoon.woff?j8v22h') format("woff"), url('../fonts/icomoon/icomoon.svg?j8v22h#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-arrow-left:before
  content: "\e901"


.icon-arrow-right:before
  content: "\e902"


.icon-calendar:before
  content: "\e903"


.icon-email:before
  content: "\e905"


.icon-marker:before
  content: "\e906"


.icon-phone:before
  content: "\e907"


.icon-ruble:before
  content: "\e908"


.icon-search:before
  content: "\e909"
