@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	

	.container
		width: auto
		max-width: 1476px

	&-wrap
		display: flex
		justify-content: space-between
		align-items: center

		&__center
			padding: 0 15px

		&__right
			display: flex

	&-logo
		position: relative
		display: flex
		align-items: center
		padding: 33px 0 33px 0
		margin-right: 70px
		background: $main

		img
			position: relative
			z-index: 10

		&::before
			content: ''
			position: absolute
			right: 100%
			top: 0
			bottom: 0
			height: 100%
			background: $main
			width: 1000px

		&::after
			content: ''
			position: absolute
			right: -56px
			width: 70px
			top: -40px
			bottom: -20px
			background: $main
			transform: rotate(15deg)

		&:hover, &:focus
			opacity: 1
		span
			position: relative
			padding-left: 3px
			font-family: CodePro
			font-size: 26px
			line-height: 36px
			text-transform: uppercase
			color: #FFFFFF
			z-index: 10

	&-contact
		display: flex
		padding-bottom: 17px
		border-bottom: 1px solid #E5E5E5
		font-size: 14px
		line-height: 16px
		font-family: GothamPro

		>div
			margin-right: 30px

			&:last-child
				margin-right: 0
		

		&__address
			position: relative
			padding: 0 0 0 20px

			&::before
				content: '\e906'
				position: absolute
				left: 0
				top: 0
				font-family: icomoon
				font-size: 16px
				color: $main

		&__mail
			display: flex
			position: relative
			padding: 0 0 0 26px

			&::before
				content: '\e905'
				position: absolute
				left: 0
				top: 1px
				font-family: icomoon
				font-size: 16px
				color: $main

			a
				margin-right: 20px
				&:last-child
					margin-right: 0

	&-tel
		position: relative
		padding: 25px 0 25px 52px

		&::before
			content: '\e907'
			position: absolute
			left: 0
			top: 25px
			font-family: icomoon
			font-size: 32px
			line-height: 32px
			color: #DDDDDD
		>a
			display: block
			margin-bottom: 18px
			font-family: Cuprum
			font-size: 30px
			line-height: 24px

			&:last-child
				margin-bottom: 0


	&-search
		position: relative
		width: 105px
		margin-left: 20px
		display: flex
		align-items: center
		justify-content: center

		&::before
			content: ''
			position: absolute
			right: 0
			left: 0
			top: -20px
			width: 100px
			height: 200px
			bottom: -20px
			background: $main
			transform: rotate(15deg)

		&__btn
			position: relative
			left: 3px
			background: transparent
			font-size: 30px
			color: #fff
			border: none
			outline: none
			z-index: 10





.main-menu
	display: flex
	justify-content: space-between
	list-style: none
	width: 670px
	font-size: 14px
	line-height: 18px

	>li
		display: inline-block

		&.active
			background: $main

		>a
			display: inline-block
			padding: 16px 0
			font-weight: bold
			font-size: 16px
			color: #292a29
			text-transform: uppercase

		&.dropdown
			position: relative

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				width: 100%
				height: 21px
				top: 100%
				background-color: transparent


			>a
				position: relative
				padding-right: 11px

				&::before
					content: ''
					position: absolute
					right: -4px
					top: 49%
					width: 8px
					height: 2px
					background: #000
					transform: rotate(-45deg)


				&::after
					content: ''
					position: absolute
					right: 0
					top: 49%
					width: 8px
					height: 2px
					background: #000
					transform: rotate(45deg)

			
			.dropdown-menu
				display: none
				list-style: none
				position: absolute
				left: 0
				top: calc(100% + 21px)
				min-width: 270px
				padding: 20px 0
				background: #FFFFFF
				box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12)
				border-radius: 2px
				z-index: 10

				>li
					position: relative

					&.dropdown-sub
						>a
							position: relative
							padding-right: 28px

							&::before
								content: ''
								position: absolute
								right: 20px
								top: 17px
								width: 8px
								height: 8px
								border: 2px solid #000
								border-left: 0
								border-bottom: 0
								transform: rotate(45deg)
								transition: all .3s


					&:last-child
						margin-bottom: 0

					>a
						display: block
						padding: 11px 20px
						font-size: 14px
						line-height: 20px

						&:hover
							font-weight: bold
							opacity: 1
							color: $main
							background: #FAFAFA

							&::before
								border-color: $main


			.dropdown-submenu
				display: none
				list-style: none
				position: absolute
				left: 100%
				top: 0
				min-width: 200px
				padding: 20px 0
				background: #FFFFFF
				box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12)
				border-radius: 2px
				z-index: 10

				li
					margin-bottom: 20px


					&:last-child
						margin-bottom: 0

					a
						display: block
						padding: 0 20px
						font-size: 14px
						line-height: 20px



.mm-spn	li.mobile-menu__contacts
		position: relative
		padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height))/ 2) var(--mm-spn-item-indent)
		padding-left: 45px
		font-family: GothamPro
		font-size: 14px
		line-height: 20px
		border-bottom: 0
		margin-top: 10px

		&::before
			display: none

		&::after
			position: absolute
			left: 0
			top: 0
			font-size: 15px
			color: #30549a
			font-family: icomoon
			border: 0
			opacity: 1
			top: 14px

		span, a
			padding: 0
			font-family: GothamPro
			font-size: 14px
			line-height: 20px
			border-bottom: 0

		&--address
			&::after
				content: '\e906'

		&--mail
			&::after
				content: '\e905'

		&--tel
			&::after
				content: '\e907'




.banner
	max-width: 1920px
	margin: 0 auto 100px

	&-item

		&__overlay
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0

			.container
				height: 100%
			

		&__content
			display: flex
			justify-content: space-between
			align-items: flex-end
			height: 100%

		&__text
			max-width: 470px
			width: 100%
			padding: 30px 30px 50px
			background: linear-gradient(10.45deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%)
			backdrop-filter: blur(20px)
			border-radius: 4px
			color: #fff

			p
				font-family: Cuprum
				font-size: 18px
				line-height: 22px

		&__header
			position: relative
			padding-bottom: 15px
			margin-bottom: 15px
			font-family: Cuprum
			font-weight: bold
			font-size: 46px
			line-height: 46px
			text-transform: uppercase

			&::before
				content: ''
				width: 120px
				height: 2px
				border: 2px
				background: #fff
				position: absolute
				left: 0
				bottom: 0




	&-slider

		&__nav
			position: relative
			bottom: 15px
			display: flex

			button
				width: 40px
				height: 38px
				margin: 0 10px
				border: 1px solid #fff
				box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08)
				border-radius: 2px
				font-size: 18px
				color: #fff
				outline: none
				background-color: transparent

				&:hover, &:focus
					background: #fff
					opacity: 1
					color: $main


.slick-slide
	outline: none

.content
	position: relative
	min-height: calc(100vh - 330px)
	z-index: 1
	background: #fff
	box-shadow: inset 0 2px 16px -2px rgba(0,0,0,.12)

.product
	margin-bottom: 100px

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		width: 25%
		height: 444px
		border: 1px solid #F5F5F5

		&__img
			height: 248px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 20px
			box-shadow: inset 0px 0px 32px rgba(0, 0, 0, 0.04)

		&__info
			padding: 0 20px 22px

			p
				height: 66px
				overflow: hidden
				margin-bottom: 20px
				font-size: 14px
				line-height: 22px
				color: #666666

		&__name
			margin-bottom: 10px
			font-weight: 600
			font-size: 16px
			line-height: 22px
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden

		&__bottom
			display: flex
			align-items: center

			.btn
				padding: 8px 20px
				font-size: 14px
				line-height: 15px
				text-transform: lowercase

				&:hover, &:focus
					background: $main

		&__price
			padding-left: 18px
			font-weight: 600
			font-size: 16px
			line-height: 20px
			color: $main

			.icon-ruble
				color: #666666
				font-size: 12px

	&-header
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		margin-bottom: 50px

		.h2
			width: calc(100% - 150px)

		&__all
			padding-bottom: 8px
			font-weight: bold
			font-size: 16px
			line-height: 22px
			border-bottom: 2px solid $main


	&-filters
		position: relative
		padding: 0 70px
		margin-bottom: 40px

		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 1px
			width: 100%
			height: 1px
			background: #E0E0E0
			


		&__item
			position: relative
			padding-bottom: 20px
			margin-left: 48px
			font-size: 14px
			line-height: 20px
			color: #808080
			white-space: nowrap

			&.active
				font-weight: 600
				color: #000
				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 3px
					width: 100%
					background: $main

		.slick-arrow
			width: 18px
			height: 18px
			top: 10px

			&::before
				font-size: 16px
				color: $main
				font-family: icomoon
				opacity: 1

		.slick-prev
			left: 0
			&::before
				content: '\e901'

		.slick-next
			right: 0
			&::before
				content: '\e902'

	&-page

		&__img
			height: 400px
			display: flex
			align-items: center
			justify-content: center

		&__info
			p
				margin-bottom: 20px
				line-height: 32px

		&__bottom
			display: flex
			align-items: center

		&__price
			margin-left: 20px
			
			strong
				font-weight: 600
				font-size: 26px
				line-height: 36px
				color: $main

			.icon-ruble
				color: #666



.tabs
	margin: 80px 0

	&-nav
		display: flex
		list-style: none

		li
			margin-right: 25px

			&:last-child
				margin-right: 0
			a
				display: block
				padding: 20px 50px 20px
				font-size: 16px
				line-height: 20px
				color: #555
				border: 1px solid #CCCCCC
				font-weight: 600
				border-radius: 2px 2px 0px 0px
				border-bottom: 0

				&.active
					color: #fff
					background: #30549A
					border-color: #30549A
					

				&:focus, &:hover
					opacity: 1

	&-item
		display: none

		&__body
			padding: 40px
			background: #FAFAFA
			border: 1px solid #CCCCCC
			border-radius: 2px

			p
				margin-bottom: 20px
				font-size: 14px
				line-height: 20px

				&:last-of-type
					margin-bottom: 0


		&.active
			display: block




.marker-list
	list-style: none

	li
		position: relative
		padding: 0 0 0 30px
		margin-bottom: 22px
		font-size: 14px
		line-height: 22px

		&:last-child
			margin-bottom: 0

		&::before
			content: ''
			position: absolute
			left: 0
			top: 6px
			width: 12px
			height: 12px
			background: #0E599D
			border-radius: 2px









.btn
	display: inline-block
	padding: 20px 45px
	color: #fff
	background: linear-gradient(180deg, #30549A 0%, #103378 100%)
	outline: none
	border: 1px solid transparent
	border-radius: 2px
	font-weight: bold
	font-size: 18px
	line-height: 20px
	text-align: center
	letter-spacing: 0.02em

	&:hover, &:focus
		background: linear-gradient(180deg, #244A93 0%, #0D2B66 100%)
		opacity: 1
		color: #fff

	&:active
		background: linear-gradient(180deg, #4571C7 0%, #1948A4 100%)

	&-transparent
		color: #595959
		border-color: #595959
		background: transparent

		&:hover, &:focus
			background: linear-gradient(180deg, #244A93 0%, #0D2B66 100%)
			opacity: 1
			color: #fff





.questions
	display: flex
	min-height: 560px
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)
	border-radius: 5px

	&-bg
		width: 36%
		border-radius: 0 20px 20px 0
		background: url(../img/questions-bg.png) no-repeat center
		background-size: cover

	&-form
		width: 64%
		padding: 50px 100px 60px 74px

		.h5
			margin-bottom: 25px

		&__bottom
			display: flex

			.check-item
				margin-left: 30px

				a
					text-decoration: underline











.form

	&-field
		position: relative
		width: 100%
		padding: 0 20px
		height: 60px
		background-color: transparent
		border: 1px solid #B3B3B3
		box-sizing: border-box
		border-radius: 2px
		font-size: 16px
		line-height: 20px
		z-index: 1
		outline: none

	&-label
		position: absolute
		left: 20px
		top: 20px
		font-size: 14px
		color: #868686
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent

	&-item
		position: relative
		margin-bottom: 25px

		&.active

			.form-field
				border-color: $main
				
			.form-label
				top: -15px
				padding: 0 5px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: $main
				z-index: 10
				background: #fff	

		textarea
			height: 94px
			resize: none


	*::-webkit-input-placeholder 
		color: #868686

	*:-moz-placeholder 
		color: #868686

	*::-moz-placeholder 
		color: #868686

	*:-ms-input-placeholder 
		color: #868686


	&-search
		background-color: transparent

		&__header
			margin-bottom: 22px
			text-align: center
			font-size: 38px
			line-height: 44px
			color: #fff

		&__wrap
			display: flex
			flex-wrap: wrap

		input
			width: calc(100% - 210px)
			height: 78px
			line-height: 78px
			padding: 0 30px
			background: #fff
			border: none
			outline: none

		.btn
			width: 210px
			height: 78px
			display: flex
			align-items: center
			justify-content: center

.fancybox-bg
	background: rgba(0, 0, 0, 0.6)
	backdrop-filter: blur(12px)

.fancybox-button svg path
	fill: #fff

.fancybox-slide--html .fancybox-close-small
	padding: 5px


.modal
	display: none

	&-search
		width: 100%
		max-width: 1170px
		padding: 0
		background-color: transparent

	&-questions
		padding: 0

		.fancybox-button svg path
			fill: #000



.check-item
	list-style: none

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 28px
			cursor: pointer
			font-size: 11px
			line-height: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 18px
				height: 18px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 2px
				background: $main

		&:checked
			&+label
				&::before
					background-image: url(../img/check.svg)
					background-repeat: no-repeat
					background-position: center


.section
	padding: 100px 0 0

	&-header
		margin-bottom: 50px
		display: flex
		justify-content: space-between
		align-items: center

		.h2
			width: calc(100% - 150px)

		&__all
			padding-bottom: 8px
			font-weight: bold
			font-size: 16px
			line-height: 22px
			border-bottom: 2px solid $main

	&-bg
		background: url(../img/section-bg-left.png) left 30px no-repeat, url(../img/section-bg-right.png) right 30px no-repeat



.news

	&-item

		&__date
			position: relative
			padding: 0 0 0 36px
			margin-bottom: 10px
			font-size: 14px
			line-height: 22px
			color: #666

			&::before
				content: '\e903'
				position: absolute
				left: 0
				top: -1px
				font-size: 16px
				color: $main
				font-family: icomoon

		p
			font-weight: 600
			line-height: 22px


.about

	&-item
		position: relative
		min-height: 375px
		padding: 35px 30px
		margin-bottom: 20px
		border-radius: 2px 2px 0px 0px
		color: #fff
		
		background: linear-gradient(26.01deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%)

		&::before
			content: ''
			position: absolute
			bottom: 0
			right: 0
			width: 95px
			height: 103px
			background: url(../img/about-bg.png)

		&__header
			position: relative
			padding-bottom: 22px
			margin-bottom: 20px
			font-family: Cuprum
			font-weight: bold
			font-size: 46px
			line-height: 46px
			text-transform: uppercase

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 2px
				width: 120px
				background: #fff

		p
			font-family: Cuprum
			font-size: 24px
			line-height: 32px


.green-gradient
	background: linear-gradient(26.01deg, rgba(37, 130, 102, 0.9) 0%, rgba(39, 156, 149, 0.9) 100%)

.blue-gradient
	background: linear-gradient(24.67deg, rgba(37, 40, 130, 0.9) 0%, rgba(39, 86, 156, 0.9) 100%)


.partners

	&-slider

		&__item
			padding-bottom: 20px

			a
				&:hover
					box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.12)




.footer
	background: url(../img/footer-bg.png) no-repeat center top
	background-size: cover
	margin-top: 100px

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		padding: 54px 0 25px
		border-bottom: 1px solid #EBEBEB

		&__info
			font-size: 14px
			line-height: 22px

	&-contact
		position: relative
		padding: 0 0 0 24px
		font-family: GothamPro
		font-size: 14px
		line-height: 20px

		span, a
			display: block

		&::before
			position: absolute
			left: 0
			top: 0
			font-size: 16px
			color: $main
			font-family: icomoon

		&__address
			&::before
				content: '\e906'

		&__mail
			&::before
				content: '\e905'

		&__tel
			font-family: OpenSans
			&::before
				content: '\e907'


	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding: 25px 0
		font-size: 14px
		line-height: 22px

		&__dev
			display: flex
			align-items: center

			span
				padding-right: 10px
			

.breadcrumbs
	margin: 30px 0 10px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		line-height: 16px
		color: #444

		+ li::before
			content: ">"
			padding: 0 10px 0 8px
			font-size: 14px

		a
			position: relative
			font-weight: 300
			color: #444

.catalog

	&-wrap
		display: flex
		flex-wrap: wrap

	&-content
		width: calc(100% - 270px)
		padding-left: 20px

		.product-item
			width: 33.3333%


	&-sidebar
		width: 270px
		height: 100%
		padding: 20px 0
		border: 1px solid #F5F5F5

	&-mobile__btn
		display: none

	&-menu
		list-style: none

		>li
			margin-bottom: 15px

			&:last-child
				margin-bottom: 0
			>a
				display: block
				padding: 8px 20px
				font-size: 14px
				line-height: 20px

			&.drop

				>a
					position: relative
					display: block
					padding-right: 28px

					&::before
						content: ''
						position: absolute
						right: 16px
						top: 16px
						width: 8px
						height: 2px
						background: #555555
						transform: rotate(-45deg)
						transition: all .3s


					&::after
						content: ''
						position: absolute
						right: 20px
						top: 16px
						width: 8px
						height: 2px
						background: #555555
						transform: rotate(45deg)
						transition: all .3s

					&.active
						font-weight: bold
						background: #FAFAFA
						color: $main

						&::before, &::after
							background: $main

				>ul
					display: none
					list-style: none
					>li
						>a
							padding: 8px 20px 8px 35px
							font-size: 14px
							line-height: 20px

						ul
							list-style: none

						&.drop
							>a
								position: relative
								display: block

								&::before
									content: ''
									position: absolute
									right: 16px
									top: 16px
									width: 8px
									height: 2px
									background: #555555
									transform: rotate(-45deg)
									transition: all .3s


								&::after
									content: ''
									position: absolute
									right: 20px
									top: 16px
									width: 8px
									height: 2px
									background: #555555
									transform: rotate(45deg)
									transition: all .3s

								&.active
									font-weight: bold
									background: #FAFAFA
									color: $main

									&::before, &::after
										background: $main

							>ul
								display: none
								list-style: none

								>li
									>a

										padding: 8px 20px 8px 55px
										font-size: 14px
										line-height: 20px

										


.pagination
	margin: 30px 0 80px
	list-style: none
	text-align: center

	li
		display: inline-block

		a
			display: block
			width: 30px
			height: 30px
			display: flex
			align-items: center
			justify-content: center
			font-size: 16px
			line-height: 18px
			border-radius: 2px

			&.active
				background: linear-gradient(25.7deg, rgba(48, 84, 154, 0.75) 0%, rgba(40, 101, 156, 0.75) 93.23%, rgba(39, 102, 156, 0.75) 100%)
				color: #fff

				&:hover, &:focus
					color: #fff
					cursor: default

			&:hover, &:focus
				opacity: 1
				color: $main




.seo-text
	display: flex
	flex-wrap: wrap
	background-color: #FAFAFA

	&__bg
		width: 36%
		border-radius: 0 20px 20px 0
		background: url(../img/seo-text-bg.png) no-repeat center
		background-size: cover

	&__body
		width: 64%
		padding: 45px 30px 30px 100px
		border-radius: 5px
		background-color: #FAFAFA

		.h4
			position: relative
			padding-bottom: 20px
			margin-bottom: 20px

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				width: 60px
				height: 2px
				background: $main

		p
			margin-bottom: 20px
			line-height: 28px


article
	margin-bottom: 50px
	max-width: 770px

	p
		margin-bottom: 30px
		line-height: 32px



.certificate
	padding: 100px 0 0
	display: flex
	flex-wrap: wrap
	align-items: center

	&-img
		max-width: 300px

	&-info
		width: calc(100% - 300px)
		padding-left: 40px

		.h2
			margin-bottom: 38px

		p
			max-width: 540px
			margin-bottom: 20px
			font-size: 14px
			line-height: 26px

			&:last-of-type
				margin-bottom: 0


.blog

	&-wrap
		max-width: 668px

	&-item
		margin-bottom: 35px
		padding: 20px
		border: 1px solid #F5F5F5

		&__date
			margin-bottom: 10px
			font-size: 14px
			line-height: 16px

		&__header
			font-weight: 600
			font-size: 16px
			line-height: 22px

			&:hover
				text-decoration: underline


.faq
	max-width: 770px
	margin-bottom: 60px

	&-item
		margin-bottom: 40px

		&.active
			background: #FAFAFA
			.faq-header
				background: #FAFAFA
				&:before
					background-color: $main
					background-image: url(../img/minus-ic.svg)

	&-header
		position: relative
		padding: 20px 70px 20px 20px
		border: 1px solid #DDDDDD
		background: #fff
		border-radius: 2px
		cursor: pointer
		font-size: 14px
		line-height: 26px

		&::before
			content: ''
			position: absolute
			right: 15px
			top: 15px
			width: 36px
			height: 36px
			display: flex
			align-items: center
			justify-content: center
			background-color: #EAEAEA
			background-image: url(../img/plus-ic.svg)
			background-repeat: no-repeat
			background-position: center



	&-body
		display: none
		padding: 20px 70px 20px 20px
		border: 1px solid #ddd
		border-top: 0

		p
			
			font-size: 14px
			line-height: 26px

			&+p
				margin-top: 20px




.contacts

	&-item
		position: relative
		margin-bottom: 60px
		padding: 0 0 0 56px
		font-size: 20px
		line-height: 28px

		&::before
			position: absolute
			left: 0
			top: 0
			width: 36px
			height: 36px
			display: flex
			align-items: center
			justify-content: center
			background: $main
			color: #fff
			font-size: 16px
			font-family: icomoon
			border-radius: 2px

		&__address
			&::before
				content: '\e906'

		&__mail
			a
				display: block
				margin-bottom: 10px
			&::before
				content: '\e905'

		&__tel
			a
				display: block
				margin-bottom: 10px
			&::before
				content: '\e907'

	&-map
		height: 670px
		margin-bottom: 50px

		iframe
			height: 100%
			width: 100%

	&-requisites
		margin-bottom: 100px

		.h2
			margin-bottom: 20px

		span
			font-size: 14px
			line-height: 26px

		
.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)









@media only screen and (max-width: 1439px)
	.header
		&-logo
			span
				font-size: 20px

		&-tel
			padding: 25px 0 25px 35px

			&::before
				top: 21px
				font-size: 26px

			>a
				margin-bottom: 15px
				font-size: 18px
				line-height: 18px

		&-search
			&::before
				width: 90px
				top: -30px

			&__btn
				font-size: 26px

				.icon-search
					position: relative
					right: 5px



	



@media only screen and (max-width: 1365px)
	.main-menu
		width: 560px

	.section-bg
		background: #fff


	.header-logo
		img
			max-width: 220px










@media only screen and (max-width: 1199px)
	.header
		&-tel
			display: none

		&-search
			&::before
				top: -70px

		&-logo
			img
				max-width: 180px

	.main-menu
		width: 530px

		>li>a
			font-size: 14px

	.banner
		margin: 0 auto 50px

	.product-item__bottom .btn
		padding: 8px 15px
		font-size: 12px

	.footer-logo
		max-width: 200px

	.catalog-content
		width: calc(100% - 220px)

		.product-item
			width: 50%

	.catalog-sidebar
		width: 220px

	.catalog-menu>li
		margin-bottom: 0

	.seo-text
		&__bg
			display: none

		&__body
			padding: 30px
			width: auto
























@media only screen and (max-width: 991px)

	.header
		background: $main

		&-logo
			padding: 10px 0
			font-size: 18px
			margin: 0

			&::after
				display: none

		&-search
			width: auto
			&::before
				display: none

		&-wrap__center
			display: none

	.burger-menu
		position: relative
		display: block
		z-index: 10

		&:hover, &:focus
			opacity: 1

	.banner-item__text
		max-width: 300px
		padding: 20px 20px 30px

		p
			font-size: 14px
			line-height: 18px

	.banner-item__header
		font-size: 28px
		line-height: 32px

	.h2, h2
		font-size: 36px
		line-height: 36px

	.product-item
		width: 50%

	.product-item__bottom .btn
		font-size: 14px

	.questions-bg
		display: none

	.questions-form
		width: auto
		padding: 50px 60px 50px 60px

	.product
		margin-bottom: 50px

	.about-item
		&__header
			font-size: 38px
			line-height: 42px

		p
			font-size: 16px
			line-height: 24px

	.section
		padding: 25px 0

	.footer
		margin-top: 50px


		&-top
			display: block
			text-align: center
			padding: 30px 0 10px

			&__info
				margin: 0 0 10px

		&-contact
			max-width: 150px
			margin: 0 auto 15px
			text-align: left


	.footer-bottom
		display: block
		text-align: center
		padding: 20px 0
		font-size: 13px

		&__dev
			justify-content: center

	
	.product-page__img
		margin-bottom: 30px


	.certificate
		padding: 50px 0 0

























@media only screen and (max-width: 768px)

	.banner
		margin: 0 0 30px

	.banner-item__overlay
		position: static
		background: $main

	.banner-item__text
		background: transparent

	.product-header, .section-header
		display: block

		.h2
			width: auto
			margin-bottom: 10px

		&__all
			display: block
			width: 140px
			margin: 0 auto
			border: none

	.product-item__price
		padding-left: 14px

	.product-item__bottom .btn
		font-size: 12px

	.product-filters
		margin-top: 10px

	h2, .h2
		text-align: center

	.questions
		display: block
		box-shadow: none

		&-form
			padding: 0

			.h5
				text-align: center
			&__bottom
				display: block

				.btn
					display: block
					max-width: 280px
					margin: 0 auto 10px

				.check-item
					margin: 0

					input[type=checkbox]+label
						br
							display: none

	.section-header
		margin-bottom: 30px

	.news-item
		margin-bottom: 30px

	.about
		padding-top: 0

	.footer
		margin-top: 30px
		background: #FCFCFC


	.product-filters
		padding: 0 30px

		&__item
			margin-left: 25px

	.about-item
		min-height: auto

	h1
		margin-bottom: 30px
		font-size: 36px
		line-height: 36px
		text-align: center

	.contacts-item
		margin-bottom: 30px

	.breadcrumbs
		margin: 10px 0 10px

	.contacts-map
		height: 350px

	.contacts-requisites
		margin-bottom: 30px

	.catalog-mobile__btn
		display: block
		outline: none
		border: none
		background-color: transparent


		&:hover, &:focus
			opacity: 1

		span
			position: relative
			display: inline-block
			writing-mode: vertical-rl
			text-orientation: upright
			text-transform: uppercase
			font-size: 10px
			padding-bottom: 10px
			padding: 10px 10px 20px
			background: #fff
			border-radius: 2px
			border: 1px solid #eaeaea
			border-left: 0
			z-index: 100

			&::before
				content: '→'
				position: absolute
				left: 0
				bottom: 5px
				font-size: 14px

		&.active
			position: absolute
			right: -33px
			top: -1px
			span
				&::before
					content: '←'

	.catalog-menu
		display: none

	.catalog-sidebar
		position: fixed
		left: 0
		top: 70px
		width: 240px
		border: none
		background: transparent

		

		&.active
			left: 0
			top: 70px
			z-index: 999
			background: #fcfcfc

			.catalog-menu
				display: block


	.catalog-content
		width: auto
		padding-left: 0

	.modal-questions
		max-width: 90%
		padding: 30px 20px 20px

	.certificate
		display: block
		padding: 40px 0 0

		&-img
			margin: 0 auto 30px

		&-info
			width: auto
			padding: 0

			.h2
				margin-bottom: 30px


















@media only screen and (max-width: 479px)

	.header-search
		margin-left: 0
		
	.banner-item__content
		flex-direction: column
	

	.product-item, .catalog-content .product-item
		width: 100%
		margin-bottom: 20px


	.form-search
		&__wrap
			flex-direction: column
		&__header
			font-size: 24px
		input
			width: auto
			height: 50px
			margin-bottom: 10px

			&:focus
				opacity: 1
		.btn
			width: auto
			height: 50px
			padding: 10px 30px

	.product-page__img
		height: auto

	.tabs-nav 
		li
			margin-right: 0

			a
				padding: 13px 25px 13px
				font-size: 14px
				border: 0

	.product-page__bottom
		flex-direction: column-reverse

	.product-page__price
		margin: 0 0 20px


	.faq-body
		padding: 20px